<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        .w-5{
            min-width: 6rem;
        }
    </style>
    <title>Bincom Test</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand text-primary" href="{% url "polls:home" %}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-primary" aria-current="page" href="{% url "polls:polling_units" %}">
                    Polling unit results
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="{% url "polls:lga_results" %}">Total LGA results</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="{% url "polls:add_results" %}">Add results</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    <main class="container">
        <header class="pb-2 mb-2 mt-5 border-bottom">
            {% block page_header %}Welcome{% endblock page_header %}
        </header>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>