{% extends 'base.html' %}

{% block page_header %}
    2011 National Election
{% endblock page_header %}

{% block content %}
    <div>
        <p><a href="{% url "polls:lga_results" %}">View total results by LGA </a></p>
        <ul>
            {% for unit in polling_units  %}
                {% if unit.polling_unit_name|length %}
                    <li><a href="{% url "polls:unit_results" unit.pk %}">{{ unit.polling_unit_name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock content %}